.aboutsection{
    width: 100vw;
    height: auto;
    background-color: rgb(198, 209, 209);

    
}

.abouthead{
    width: 100vw;
    height: auto;
    text-align: center;
    padding: 60px;
}
.main{
   display: flex;
   justify-content: center;
   justify-content: space-around;
   flex-wrap: wrap;
    
}
.description{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
   
    
}
.image-size{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
   
}
.image{
    width: 400px;
    height: 400px;
    border-radius: 18px;
}