*{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbars{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(214, 225, 230); 


}
.list{
    display: flex;
    list-style:none ;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    padding:4px 0px;
    margin: 0;
}
.link{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    color: rgb(10, 10, 10);
    font-size: 20px;
}
.link:hover{
    color: rgba(42, 50, 54, 0.466);
}

.name{
    font-weight: 500;
}