#project{
    width: 100vw;
    height: auto;
    background-color: rgb(239, 248, 245);
}
.phead{
    width: 100vw;
    height: auto;
    text-align: center;
    padding: 51px;
}
.pcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}