#services{
    width: 100vw;
    height: auto;
    /*background-color:  rgb(198, 209, 209); */
    background-color: rgb(207, 220, 231);
}

.serviceshead{
    width: 100vw;
    height: auto;
    text-align: center;
    padding: 47px;
}
.servicesdiv{
    width:100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
