.skmain{
    width: 100wh;
    height: auto;
    background-color: rgb(207, 220, 231);
}
.skimage{
    width: 200px;
    height: 200px;
    margin: 10px;
}
.skhead{
    width: 100vw;
    height: auto;
    text-align: center;
    padding:47px ;
}
.skitems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}