*{
    box-sizing: border-box;
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(229, 245, 248);
    font-family: 'Times New Roman', Times, serif;
    
}
.head{
    font-size:50px;
}
.outerdiv{
    border: 5px solid rgb(207, 197, 197);
    border-radius: 10px;
    background-color: rgb(153, 70, 146);
}
.input{
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

.error{
    color: rgb(199, 21, 21);
    text-size-adjust: 5px;
    justify-content: center;
    display: flex;
}
.main{
    border: 2px solid blueviolet;
    background-color: blueviolet;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    color: black;
    font-size: larger;
    
}